#risk-number-label {
    grid-area: left;
}
#risk-number{
  grid-area: bottom;
  margin-top: 0px;
  width: fit-content;
  padding: 5px;
  border-radius: 20%;
  font-weight: bold;
  background: #FFB088;
  border: none;
}
.primary-button {
    height: 30px;
    width: 70px;
}

#riskInput {
    display: grid;
    grid-template-columns: 0.8fr 5fr 0.8fr;
    grid-template-areas:
      "left center right"
      "bottom bottom bottom";
    align-items: center;
    width: 60%;
}
.measurement-container {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}
#reset-button{
    cursor: pointer;
    margin: auto;
    object-fit: contain;
    width: 30px;
    height: 30px;
    grid-area: right;
    border-radius: 50%;
}
#reset-button:hover{
  background-color: #FFB088;
}
#reset-button:active{
  background-color: #FF9466;
}
#newrisk-slider {
    cursor: grab;
    grid-area: center;
}
#newrisk-slider:active {
    cursor: grabbing;
}
#input-fields {
    display: block;
}
textarea {
    width: 100%;
    height: 20vh;
    resize: none;
    overflow-y: scroll;
    padding-top: 15px;
    font-size: 16px;
}
#normInfo {
    margin-top: 20px;
    border-top: 1px solid #323F4B;
}
.textCount.maxxedOut {
    color: #8A041A;
}
.textCount {
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
}
.input-wrapper {
    position: relative;
}
#normInfoHeader {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "title risk";
}
#normTitle {
    grid-area: title;
    overflow-x : hidden;
}
#normType {
    grid-area: risk;
    border: 2px solid orange;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 80px;
}
input[type="range"]{
  accent-color: #F9703E;
}
#explanation {
  margin-bottom: 10px;
}
#finding-heading{

}
