#new-risk-display {
    grid-area: left;
}

.primary-button {
    height: 30px;
    width: 70px;
}

#riskInput {
    display: grid;
    grid-template-columns: 1.5fr 5fr 1fr;
    grid-template-areas: "left center right";
    align-items: center;
}
.measurement-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}
#reset-button{
    cursor: pointer;
    margin: auto;
    object-fit: contain;
    width: 50%;
    height: 50%;
    grid-area: right;
}
#newrisk-slider {
    cursor: grab;
    grid-area: center;
}
#newrisk-slider:active {
    cursor: grabbing;
}
#input-fields {
    display: block;
}
textarea {
    width: 100%;
    height: 20vh;
    resize: none;
    overflow-y: scroll;
    padding-top: 15px;
}
#normInfo {
    margin-top: 20px;
    border-top: 1px solid #323F4B;
}
.textCount.maxxedOut {
    color: #8A041A;
}
.textCount {
    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
}
.input-wrapper {
    position: relative;
}
#normInfoHeader {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "title risk";
}
#normTitle {
    grid-area: title;
    overflow-x : hidden;
}
#normType {
    grid-area: risk;
    border: 2px solid orange;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 80px;
}
