name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    name: test
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install angular CLI
        run: npm install -g @angular/cli

      - name: install node packages
        run: npm install

      - name: Generate test report
        run: ng test --source-map=false --browsers=ChromeHeadless --watch=false
  